<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>({{ storeinformation.code }}){{ storeinformation.name }}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2>{{ storeinformation.name }}{{ storeinformation.code }}</h2>
    </div>
    <div class="row">
        <div class="col-md-2">IP: {{ storeinformation.ip }}</div>
        <div class="col-md-2">AP: {{ storeinformation.ap }}</div>
        <div class="col-md-2">联系人: {{ storeinformation.contacts }}</div>
        <div class="col-md-2">设备到店日期: {{ storeinformation.equipment_arrival_date }}</div>
        <div class="col-md-2">工程完工日期: {{ storeinformation.completion_date }}</div>
        <div class="col-md-2">预计安装日期: {{ storeinformation.completion_date }}</div>
    </div>
    <div class="row page-header">
        <div class="col-md-2">开业日期: {{ storeinformation.Opening_date }}</div>
        <div class="col-md-2">工程部: {{ storeinformation.engineering_head }}</div>
        <div class="col-md-2">防火墙类型: {{ storeinformation.firewall_type }}</div>
        <div class="col-md-2">地址: {{ storeinformation.address }}</div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
            {% for comment in storeinformation.storecomment_set.all %}
                <li style="margin-bottom: 5px"> {{ comment.content }} --- {{ comment.date }}</li>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'detail' storeinformation.code %}" method="post">
                {% csrf_token %}
                <div style="margin-bottom: 5px">
                    {{ comment }}
                </div>
                <input class="btn btn-default" type="submit" value="确认">
            </form>
        </div>
    </div>
</div>
</body>
</html>